.wide {
  width: 100%;
}

.width-25 {
  width: calc(min(100%, 25rem));
}

.max-width-1280 {
  max-width: 1280px;
  margin: var(--margin-8);
  @media (min-width: 1280px) {
    margin: auto;
    padding: var(--padding-8);
  }
}

.width-30 {
  width: calc(clamp(15rem, 30vw, 25rem));
}

@media (min-width: 768px) {
  .medium-width-70 {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .large-width-50 {
    width: 50%;
  }
}

:root {
  --width-large: 1280px;
}
