.table {
  border-spacing: clamp(var(--margin-2), 2.5vw, var(--margin-4))
    clamp(var(--margin-1), 1vw, var(--margin-2));
  // caclulate border-spacing using viewport with a min of margin-2 margin-1 and a max of margin-4 margin-2
  font-size: clamp(70%, 2vw, 90%);
}

@media screen and (max-width: 400px) {
  .table.responsive {
    display: flex;
    flex-direction: row;
    gap: var(--gap-4);
    justify-content: center;
    margin-top: var(--margin-4);

    & thead {
      display: flex;
      flex-direction: column;
      justify-content: end;
    }

    & td {
      text-align: center;
    }

    & tr {
      display: flex;
      flex-direction: column;
      gap: var(--gap-4);
    }
    & tbody {
      display: flex;
      flex-direction: row;
      gap: var(--gap-4);
    }
  }
}
